<app-container class="collide__panel8__container">
    <div class="collide__panel8">
        <div class="logo" style="background-image: url('../../../../assets/images/panel-8/vf-logo.png')"></div>
        <div class="content">
            <div>
                So here's the deal - aside from building one of India's favourite youth communities, we're a team of ex-college fest reps and artists who've been part of some of the most amazing college fests across the country.
            </div>
            <div>
                We started building the Viral Fission community in 2019 to enable collective growth and upskilling through branded internships and various other initiatives, and now with over 25,000 students on-board, we're on to our next mission - to deliver the best possible fest experience every year, bringing together students and the top artists from different colleges from across the country.
            </div>
            <div>
                <a class="social-media-icon" href="javascript: void(0);">
                    <div style="background-image: url('../../../../assets/images/panel-8/Youtube.png')"></div>
                </a>
                <a class="social-media-icon" href="javascript: void(0);">
                    <div style="background-image: url('../../../../assets/images/panel-8/Instagram.png')"></div>
                </a>
            </div>
            <div class="footer">
                <div>&#169; 2022 Viral Fission. All rights reserved. Trademark of Fission Youth Marketing</div>
                <div class="footer-links">
                    <a href="javascript: void(0);">Legal</a>
                    <a href="javascript: void(0);">Privacy policy</a>
                    <a href="javascript: void(0);">Website credit</a>
                </div>
            </div>
        </div>
    </div>
</app-container>

