<app-container class="animate">
    <div class="collide__panel1">
        <div class="collide__panel1__sun"></div>
        <div class="collide__panel1__logo"></div>
    </div>
    <div class="collide__panel1__ticker">
        <app-text-ticker>
            <app-marquee>
                <div slot1>
                    <span class="light"> - Nesco Centre, Mumbai - </span>
                    <span class="bold">7th & 8th october, 2022</span>
                    <span class="light"> - Nesco Centre, Mumbai - </span>
                    <span class="bold">7th & 8th october, 2022</span>
                    <span class="light"> - Nesco Centre, Mumbai - </span>
                    <span class="bold">7th & 8th october, 2022</span>
                    <span class="light"> - Nesco Centre, Mumbai - </span>
                    <span class="bold">7th & 8th october, 2022</span>
                    <span class="light"> - Nesco Centre, Mumbai - </span>
                    <span class="bold">7th & 8th october, 2022</span>
                </div>
                <!-- <div slot2>
                    <span class="light"> - Nesco Centre, Mumbai - </span>
                    <span class="bold">7th & 8th october, 2022</span>
                    <span class="light"> - Nesco Centre, Mumbai - </span>
                    <span class="bold">7th & 8th october, 2022</span>
                    <span class="light"> - Nesco Centre, Mumbai - </span>
                    <span class="bold">7th & 8th october, 2022</span>
                    <span class="light"> - Nesco Centre, Mumbai - </span>
                    <span class="bold">7th & 8th october, 2022</span>
                    <span class="light"> - Nesco Centre, Mumbai - </span>
                    <span class="bold">7th & 8th october, 2022</span>
                </div> -->
            </app-marquee>
        </app-text-ticker>
    </div>
</app-container>
