<app-container class="collide__panel2__container">
    <div class="collide__panel2">
        <app-title class="collide__panel2__title" titleFontSize="10rem">
            <app-badge badgeSlot rotate="-15" top="-3rem" left="-20px">Cus,</app-badge>
            <div titleSlot>Today only happens once</div>
        </app-title>
        <app-media-window windowWidth="95%" variant="multi" isHidden="true">
            <video width="100%" controls contentSlot>
                <source src="../../../../assets/videos/collide_photography.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </app-media-window>
    </div>
</app-container>
