<app-container>
    <div class="collide__panel7">
        <app-title titleFontSize="11.7rem">
            <app-badge badgeSlot rotate="-5" top="-3.5rem" left="50%" translate="-50%,0%">Let's take a look at</app-badge>
            <div titleSlot>Our Sponsors</div>
        </app-title>
        <div class="sponsor-container">
            <div class="sposnor-row">
                <div class="sponsor" style="background-image: url('../../../../assets/images/panel-7/Sponsor-Logo-1.png')"></div>
                <div class="sponsor" style="background-image: url('../../../../assets/images/panel-7/Sponsor-Logo-2.png')"></div>
                <div class="sponsor" style="background-image: url('../../../../assets/images/panel-7/Sponsor-Logo-1.png')"></div>
                <div class="sponsor" style="background-image: url('../../../../assets/images/panel-7/Sponsor-Logo-2.png')"></div>
            </div>
            <div class="sposnor-row">
                <div class="sponsor" style="background-image: url('../../../../assets/images/panel-7/Sponsor-Logo-1.png')"></div>
                <div class="sponsor" style="background-image: url('../../../../assets/images/panel-7/Sponsor-Logo-2.png')"></div>
                <div class="sponsor" style="background-image: url('../../../../assets/images/panel-7/Sponsor-Logo-1.png')"></div>
                <div class="sponsor" style="background-image: url('../../../../assets/images/panel-7/Sponsor-Logo-2.png')"></div>
            </div>
        </div>
    </div>
    <div class="collide__panel7__ticker">
        <app-text-ticker>
            <app-marquee>
                <div slot1>
                    <span class="light"> - Nesco Centre, Mumbai - </span>
                    <span class="bold">7th & 8th october, 2022</span>
                    <span class="light"> - Nesco Centre, Mumbai - </span>
                    <span class="bold">7th & 8th october, 2022</span>
                    <span class="light"> - Nesco Centre, Mumbai - </span>
                    <span class="bold">7th & 8th october, 2022</span>
                    <span class="light"> - Nesco Centre, Mumbai - </span>
                    <span class="bold">7th & 8th october, 2022</span>
                    <span class="light"> - Nesco Centre, Mumbai - </span>
                    <span class="bold">7th & 8th october, 2022</span>
                </div>
            </app-marquee>
        </app-text-ticker>
    </div>
</app-container>
