<app-container>
    <div class="collide__panel4">
        <div class="collide__panel4__section collide__panel4__text">
            <app-title titleFontSize="8.7rem">
                <div bagdeSlot class="collide__panel4__badge">
                    <app-badge rotate="-3" top="-3rem" left="0.5rem">An experience you <span class="bold">Cannot Miss</span></app-badge>
                </div>
                <div titleSlot>So get ready and assemble your college squad</div>
            </app-title>
        </div>
        <div class="collide__panel4__section">
            <app-media-window windowWidth="100%" windowHeight="28rem" label="Nationwide College Fest">
                <video width="100%" height="100%" controls contentSlot style="object-fit: fill;">
                    <source src="../../../../assets/videos/dance_hq_final.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </app-media-window>
        </div>
        <div class="collide__panel4__section">
            <app-media-window windowWidth="100%" windowHeight="28rem" label="Compete for glory">
                <video width="100%" height="100%" controls contentSlot style="object-fit: fill;">
                    <source src="../../../../assets/videos/Collide_gaming.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </app-media-window>
        </div>
        <div class="collide__panel4__section">
            <app-media-window windowWidth="100%" windowHeight="28rem" label="More than Just A Concert">
                <video width="100%" height="100%" controls contentSlot style="object-fit: fill;">
                    <source src="../../../../assets/videos/collide_photography.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </app-media-window>
        </div>
    </div>
</app-container>
