<app-container>
    <div class="collide__panel4">
        <div class="collide__panel4__section collide__panel4__text">
            <app-title titleFontSize="8.7rem">
                <div bagdeSlot class="collide__panel4__badge">
                    <app-badge rotate="-3" top="-3rem" left="0.5rem">An experience you <span class="bold">Cannot Miss</span></app-badge>
                </div>
                <div titleSlot>So get ready and assemble your college squad</div>
            </app-title>
        </div>
        <div class="collide__panel4__section">
            <app-media-window windowWidth="100%" windowHeight="28rem" label="Nationwide College Fest">
                <iframe contentSlot src="https://player.vimeo.com/video/736810917?h=32b65976b2&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="width:100%;height:100%;" title="Dance_HQ_FINAL_YT 4k with SUBS.mp4"></iframe>
            </app-media-window>
        </div>
        <div class="collide__panel4__section">
            <app-media-window windowWidth="100%" windowHeight="28rem" label="Compete for glory">
                <iframe contentSlot src="https://player.vimeo.com/video/737522444?h=3c88f9c6e9&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="width:100%;height:100%;" title="Collide_gaming"></iframe>
            </app-media-window>
        </div>
        <div class="collide__panel4__section">
            <app-media-window windowWidth="100%" windowHeight="28rem" label="More than Just A Concert">
                <iframe contentSlot src="https://player.vimeo.com/video/737935447?h=184af6c46b&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="width:100%;height:100%;" title="Collide_Photography"></iframe>
            </app-media-window>
        </div>
    </div>
</app-container>
