<app-container>
    <div class="collide__panel6">
        <app-title titleFontSize="8rem">
            <app-badge badgeSlot rotate="-3" top="-3.5rem" left="50%" translate="-50%,0%">And of course, some of</app-badge>
            <div titleSlot>India's Favourite Artists</div>
        </app-title>
        <div class="spacer"></div>
        <app-title titleFontSize="8rem">
            <app-badge badgeSlot rotate="3" top="-3.5rem" left="50%" translate="-50%,0%">are set to join the</app-badge>
            <div titleSlot>Celebration with you</div>
        </app-title>
    </div>
    <div class="artist-container">
        <div class="artist" style="background-image: url('../../../../assets/images/panel-6/Sumukhi-BG.gif')">
            <div class="artist-image artist-1"></div>
            <div class="collide__panel6__btn">
                <app-button label="RSVP" btnWidth="75px" btnHeigth="75px" btnFontSize="1rem" hideRed="true"></app-button>
            </div>
        </div>
        <div class="artist" style="background-image: url('../../../../assets/images/panel-6/Biswa-BG.jpg')">
            <div class="artist-image artist-2"></div>
            <div class="collide__panel6__btn">
                <app-button label="RSVP" btnWidth="75px" btnHeigth="75px" btnFontSize="1rem" hideRed="true"></app-button>
            </div>
        </div>
        <div class="artist" style="background-image: url('../../../../assets/images/panel-6/Nucleya-BG.jpg')">
            <div class="artist-image artist-3"></div>
            <div class="collide__panel6__btn">
                <app-button label="RSVP" btnWidth="75px" btnHeigth="75px" btnFontSize="1rem" hideRed="true"></app-button>
            </div>
        </div>
        <div class="artist" style="background-image: url('../../../../assets/images/panel-6/Gullygang-BG.jpg')">
            <div class="artist-image artist-4"></div>
            <div class="collide__panel6__btn">
                <app-button label="RSVP" btnWidth="75px" btnHeigth="75px" btnFontSize="1rem" hideRed="true"></app-button>
            </div>
        </div>

        <div class="collide__panel6__ticker">
            <app-text-ticker>
                <app-marquee>
                    <div slot1>
                        <span class="bold"> <span>*</span> Today only happens once <span>*</span> </span>
                        <span class="bold"> <span class="hidden">*</span>Today only happens once <span class="hidden">*</span> </span>
                        <span class="bold"> <span>*</span> Today only happens once <span>*</span> </span>
                        <span class="bold"> <span class="hidden">*</span>Today only happens once <span class="hidden">*</span> </span>
                        <span class="bold"> <span>*</span> Today only happens once <span>*</span> </span>
                        <span class="bold"> <span class="hidden">*</span>Today only happens once <span class="hidden">*</span> </span>
                        <span class="bold"> <span>*</span> Today only happens once <span>*</span> </span>
                        <span class="bold"> <span class="hidden">*</span>Today only happens once <span class="hidden">*</span> </span>
                        <span class="bold"> <span>*</span> Today only happens once <span>*</span> </span>
                        <span class="bold"> <span class="hidden">*</span>Today only happens once <span class="hidden">*</span> </span>
                    </div>
                </app-marquee>
            </app-text-ticker>
        </div>
    </div>
</app-container>
