
<app-container>
    <div class="collide__panel5">
        <app-title titleFontSize="8rem">
            <app-badge badgeSlot rotate="3" top="-3.5rem" left="50%" translate="-50%,0%">This is your chance to</app-badge>
            <div titleSlot>Collide with India's best</div>
        </app-title>
        <div class="collide__panel5__content">
            <div class="collide__panel5__alphabets">
                <div class="collide__panel5__section">
                    <div class="collide__panel5__tile mar-b">
                        <app-alphabet bgImg="F.png" hoverBgImg="Film-Making.png">
                            <div textSlot>Film Making</div>
                        </app-alphabet>
                    </div>
                    <div class="collide__panel5__tile">
                        <app-alphabet bgImg="C.png" hoverBgImg="Creative-Writing.png" hoverTop="auto" hoverBottom="0">
                            <div textSlot>Creative Writing</div>
                        </app-alphabet>
                    </div>
                </div>
                <div class="collide__panel5__section">
                    <div class="collide__panel5__tile">
                        <app-alphabet bgImg="R.png" hoverBgImg="Rap.png" hoverTop="50%" hoverTranslate="-50%,-50%">
                            <div textSlot>Rap Showcase</div> 
                        </app-alphabet>
                    </div>
                </div>
                <div class="collide__panel5__section">
                    <div class="collide__panel5__tile mar-b">
                        <app-alphabet bgImg="B.png" hoverBgImg="Bollywood-Dance-(Hover).png">
                            <div textSlot>Bollywood Dance</div>
                        </app-alphabet>
                    </div>
                    <div class="collide__panel5__tile">
                        <app-alphabet bgImg="D.png" hoverBgImg="Doodling.png" hoverTop="auto" hoverBottom="0">
                            <div textSlot>Doodling</div>
                        </app-alphabet>
                    </div>
                </div>
                <div class="collide__panel5__section">
                    <div class="collide__panel5__tile">
                        <app-alphabet bgImg="I.png" hoverBgImg="Improv.png" hoverTop="50%" hoverTranslate="-50%,-50%">
                            <div textSlot>Improv Comedy</div>
                        </app-alphabet>
                    </div>
                </div>
                <div class="collide__panel5__section">
                    <div class="collide__panel5__tile mar-b">
                        <app-alphabet bgImg="S.png" hoverBgImg="Photography.png">
                            <div textSlot>Spoken Photography</div>
                        </app-alphabet>
                    </div>
                    <div class="collide__panel5__tile">
                        <app-alphabet bgImg="T.png" hoverBgImg="Theatre.png" hoverTop="auto" hoverBottom="0">
                            <div textSlot>Theatre</div>
                        </app-alphabet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-container>
