:root {
    --body-font-size: 16px;

    --rafigen: 'Rafigen';
    --edosz: 'Edosz';
    --mont-black: 'Montserrat-black';
    --mont-bold: 'Montserrat-bold';
    --mont-extra-bd: 'Montserrat-extra-bold';
    --mont-light: 'Montserrat-light';
    --mont-reg: 'Montserrat-regular';
    --mont-semi-bd: 'Montserrat-semi-bold';
    --mont-ultra-lt: 'Montserrat-ultra-light';
}